<nav class="space-y-4 px-4">
    <a routerLink="/merchant-add-products" class="block py-2 px-4 rounded hover:bg-gray-100 text-gray-700 font-medium">Add Categories & Products</a>
    <a routerLink="/merchant-view-products" class="block py-2 px-4 rounded hover:bg-gray-100 text-gray-700 font-medium">Your Products</a>
    <a routerLink="/merchant-update-product" class="block py-2 px-4 rounded hover:bg-gray-100 text-gray-700 font-medium">Product Update</a>
    <a routerLink="/merchant-product-delete" class="block py-2 px-4 rounded hover:bg-gray-100 text-gray-700 font-medium">Product Delete</a>
  </nav>
  
  